<footer class="bg-darken-2 mt-2 py-2 fixed-bottom">
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/services/" class="text-white">Services</a></li>
          <li><a href="/about/" class="text-white">About Us</a></li>
          <li><a href="/careers/" class="text-white">Careers</a></li>
          <li><a href="/blog/" class="text-white">Blog</a></li>
          <li><a href="/contact/" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="/terms-of-service/" class="text-white">Terms of Service</a></li>
          <li><a href="/privacy-policy/" class="text-white">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect With Us</h5>
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="https://linkedin.com/company/plx-ie" target="_blank" class="text-white"><i class="fab fa-linkedin fa-lg"></i> LinkedIn</a></li>
          <li class="list-inline-item"><a href="https://twitter.com/plx_ie" target="_blank" class="text-white"><i class="fab fa-twitter fa-lg"></i> Twitter</a></li>
          <li class="list-inline-item"><a href="https://github.com/plx-ie" target="_blank" class="text-white"><i class="fab fa-github fa-lg"></i> GitHub</a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-white">
    <p class="mb-0">&copy; {{ now.Year }} PLX.IE Inc. All rights reserved.</p>
  </div>
</footer>
